.home-commercial {   
    font-family: OpenSans-400; 
    color: #fff;
    text-align: center;
    &__button {
        background: #3CA6CD;
        color: #fff;     
        font-family: Roboto-400;   
        border-radius: 15px;
    }        
    h3, ul {
        text-align: left;
    }    
    li {
        position: relative;
        &::before {
            content: '';
            display: block; border-radius: 100%;
            background: #fff;
            position: absolute; left: 0; margin: auto;      
        }
    }     
    a {
        position: relative;
        cursor: pointer;
    }
}

@media (--desktop-m) {
    .home-commercial {
        &__wrap {
            padding: w(87) 0 w(120);                        
        }        
        h2 {
            font-size: w(24);
            padding: 0 w(388);
        }
        h3, ul {
            font-size: w(18);   
        }        
        li {
            padding-left: w(25);
            &::before {
                left: w(10); top: 0; bottom: 0;
                @include size(w(5), w(5));
            }
        }        
        h3 { padding: w(40) w(420) 0;  }
        ul { padding: 0 w(420) w(101); }
        &__button {
            font-size: w(24);            
            padding: w(17) w(56);
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);            
        }
    }
}

@media (--mobile-m) {
    .home-commercial {
        font-size: wm(14);
        &__wrap {
            padding: wm(37) wm(10) wm(75);
        }
        &__button {
            padding: wm(24) wm(49);
            font-size: wm(14);
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
        }
        h3,ul {
            padding: 0 wm(24);            
        }        
        h3, li:not(:last-child) {
            margin-bottom: wm(25);
        }
        h3 {
            padding-top: wm(60);
        }
        ul {
            padding-bottom: wm(60);
        }
        li {
            padding-left: wm(10);
            &::before {
                left: 0;
                top: wm(7.5);
                @include size(wm(4), wm(4));
            }            
        }
    }
}