.home-solution {
    color: $maincol;
    &__title, &__direction {
        text-align: center;
    }
    svg {
        display: block;
        margin: auto;
    }
}

@media (--desktop-m) {
    .home-solution {
        &__title {
            padding: w(67) w(505);
            background: #EAF4F6;
            h2 {
                font-size: w(48);
            }
            h3 {
                padding: w(35) 0;
            }
            h3, p {
                font-size: w(18);
            }            
        }
        &__direction {
            padding: w(111) w(220);
            display: flex; justify-content: space-between;
            article {
                width: 31%;     
                position: relative;           
                @include flex(flex-start, center, column);
                font-size: w(18);                
                &:first-child {
                    .images svg { @include size(w(196.99), w(151.65)) }
                }
                &:nth-child(2) {
                    .images svg { @include size(w(196.54), w(192.98)) }
                }
                &:last-child {
                    .images svg { @include size(w(196.72), w(251.17)) }
                }
            }            
            h2 {
                padding: w(34) 0 w(16);
            }
        }
        &__arrow {
            display: block;
            @include size(w(80.47), w(177.81));
            position: absolute; top: w(-30); bottom: 0; right: w(-100); margin: auto;
        }
    }   
}

@media (--mobile-m) {
    .home-solution {
        &__title {
            padding: wm(50) wm(8);
            h2 {
                font-size: wm(24);
            }        
            h3, p {
                font-size: wm(14);
            }
            h3 {
                padding: wm(27) 0;
            }     
        }        
        &__direction {
            padding: 0 wm(35.57) wm(118);
            article {  
                font-size: wm(14);                     
                &:first-child {
                    .images svg { @include size(wm(157.84), wm(121.51)) }
                }
                &:nth-child(2) {
                    .images svg { @include size(wm(158), wm(155.13)) }
                }
                &:last-child {
                    .images svg { @include size(wm(191.88), wm(244.99)) }
                }                
            }
            h2 {
                padding: wm(20.25) 0 wm(10.85);
            }
        }    
        &__arrow {
            margin: wm(40) auto;
            display: block;
            position: relative;
            @include size(wm(72), wm(133));    
            background: url('~@/assets/images/home-solution-arrow.svg');
            @include center100;
        }      
    }   
}