.home-problems {
    color: $maincol;
    &__question {
        font-family: OpenSans-800;
        text-transform: uppercase;
        text-align: center;
        background: #EAF4F6;
        line-height: normal;            
    }
    &__list {
        h3 {
            font-family: OpenSans-700;
        }
        p {
            line-height: normal;            
            font-family: OpenSans-300;
        }
    }
}

@media (--desktop-m) {
    .home-problems {
        &__wrap {
            display: flex; 
        }
        &__question {            
            width: w(869);
            @include flex(center,center,column);
            font-size: w(72.0496);
            padding: w(80) 0;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
            img {
                margin-top: w(21);
                @include size(w(509.99), w(337.66));
            }
        }
        &__list {
            flex: 1;
            @include flex(center,flex-start,column);
            padding-left: w(94);                
            article:not(:last-child) {
                margin-bottom: w(40);                
            }
            h3 {
                font-size: w(24);
                position: relative;
                &::before {
                    content: '';
                    position: absolute; bottom: w(13); left: w(-58);
                    display: block;
                    @include size(w(30), w(30));
                    background: #3CA6CD;
                }
                &::after {
                    content: '';
                    display: block;
                    margin: w(10) 0;
                    @include size(1px, w(316));
                    background: #BCBCBC;
                }
            }
            p {                
                font-size: w(18);
                width: w(553);
            }
        }
    }
}


@media (--mobile-m) {
    .home-problems {
        &__wrap {
            display: flex; flex-direction: column;
        }
        &__question {
            padding: wm(40) 0;
            font-size: wm(36);
            img {
                margin-top: wm(10.74);                
                @include size(wm(260.51), wm(172.48));
            }
        }
        &__list {
            padding: wm(40) wm(16);
            @include flex(flex-start, center, column);
            article {
                text-align: center;
            }
            article:not(:last-child) {
                margin-bottom: wm(30);
            }
            h3 {
                font-size: wm(18);                
                &::after {
                    content: '';
                    display: block;                    
                    margin: wm(10) auto;
                    @include size(1px, wm(316));
                    background: #BCBCBC;
                }
            }
            p {                
                font-size: wm(14);
            }
        }
    }
}

