$seccol: #3CA6CD;
.home-mod-com {
    color: $seccol;      
    position: fixed; top: 0; left: 0; 
    @include size(100%, 100%);
    z-index: 150;
    transition: 0.2s;
    &__wrap {        
        z-index: 150;
        background: #fff;
        position: relative;
    }
    button {
        outline:none;
        border: none;
        background: $seccol;
        color: #fff;
        display: block; margin: auto;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    input {        
        text-align: center;
        display: block;
        margin: auto;
        background: transparent;
        border: none;
        border-bottom: 1px solid $seccol;
        font-family: OpenSans-300;
        &:focus {
            outline: none;
        }        
    }  
    &__close {
        cursor: pointer;
        position: absolute; top: 0; right: 0;
    }  
}

@media (--desktop-m) {
    .home-mod-com {
        @include flex(center,center);
        &::before {
            content: '';
            position: absolute; top: 0; left: 0;
            @include size(100%,100%);
            background: rgba(0,0,0,0.5);
        }
        &__wrap {            
            padding: w(70) w(229);
            background: radial-gradient(1813.71px at 138.33% 20.02%, #FFFFFF 0%, #EAF4F6 100%);
            box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.25);
        }
        h2 {
            text-align: center;
        }
        h2, button {
            font-size: w(24);
        }
        &__close {                
            top: w(43); right: w(56);        
            svg {
                @include size(w(17.39), w(17.44));
            }
        }
        input {
            font-size: w(18);
            width: w(332);            
            &:not(:last-of-type) {
                margin-bottom: w(20);
            }
            &:first-of-type {
                margin-top: w(67);
            }
            &:last-of-type {
                margin-bottom: w(67);
            }
        }
        button {
            margin-top: w(16);
            padding: w(8) w(44);

        }        
    }    
}

@media (--mobile-m) {
    .home-mod-com {        
        &__wrap {
            position: fixed; top: 0; left: 0;
            @include size(100%,100%);
            overflow-y: scroll;             
            padding-top: wm(60);
            text-align: center;
            background: radial-gradient(828.83px at 138.33% 20.02%, #FFFFFF 0%, #EAF4F6 100%);
           
        }
        h2 {
            padding: 0 wm(74);
        }
        h2, button {
            font-size: wm(18);
        }
        &__close {                
            top: wm(20); right: wm(20.56);        
            svg {
                @include size(wm(17.39), wm(17.44));
            }
        }
        input {
            font-size: wm(14);
            width: wm(256);            
            &:not(:last-of-type) {
                margin-bottom: wm(20);
            }
            &:first-of-type {
                margin-top: wm(59);
            }
            &:last-of-type {
                margin-bottom: wm(59);
            }
        }
        button {
            margin-top: wm(38.15);
            padding: wm(7) wm(40);            
        }        
    }
}