.home-minus {
    color: #fff;        
}

@media (--desktop-m) {
    .home-minus {        
        &__wrap {            
            width: w(1070);
            position: relative;            
            margin: auto;            
            padding: w(61) 0;
        }
        &__title, &__list {
            font-size: w(18);
        }
        &__list {
            h2 {
                padding: w(83) 0 w(26);
            }            
            p {
                margin: 0 0 w(20) w(53);
                position: relative;
                &:last-child {
                    padding-bottom: 0;
                }
                &::before {
                    content: '';
                    display: block;
                    position: absolute; top: w(2); left: w(-50);
                    @include size(w(19),w(19));
                    background: #fff;
                }
            }
        }
    }
}

@media (--mobile-m) {
    .home-minus {
        text-align: center;
        &__wrap {
            padding: wm(30) wm(15) 0;
        }
        &__title {
            font-size: wm(18);
        }
        &__list {
            padding: 0 wm(18);
            font-size: wm(14);
            h2, p:not(:last-child) {
                padding-bottom: wm(30);
            }
        }
    }  
}