.libra {
    @include flex(center, center);
    position: relative;      
    &__lines {
        display: flex; flex-wrap: wrap; align-items: center;
        position: absolute;
        top: 0; bottom: 0; left: 0; margin: auto;                
        span {
            width: 50%;
            display: block;
            &:nth-child(odd) {
                background: linear-gradient(to left, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            }
            &:nth-child(even) {
                background: linear-gradient(to right, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            }
        }        
    }
    svg {
        z-index: 2;
        display: block;
        position: relative;        
    }
}

// Libra color blue
.libra-col-blue {
    span {
        &:nth-child(odd) {
            background: linear-gradient(to left, $maincol 0%, rgba(255, 255, 255, 0) 100%);
        }
        &:nth-child(even) {
            background: linear-gradient(to right, $maincol 0%, rgba(255, 255, 255, 0) 100%);
        }        
    }
}

.libra-end, .libra-start {
    position: absolute; width: 100%;
}

@media (--desktop-m) {
    .libra {    
        &__lines span {            
            height: 1px;
            position: relative;
        }                
        &__small {      
            .libra__lines {
                @include size(7%, 100%);
                span {                               
                    &:first-child, &:nth-child(2) {
                        bottom: w(2)
                    }            
                    &:nth-child(3), &:nth-child(4) {
                        top: w(3);
                    }           
                }   
            }      
            svg {                
                @include size(w(40), w(40));                
            } 
        }        
        &__large {
            .libra__lines {
                @include size(30%, 100%);                
            }                     
            svg {                                       
                @include size(w(45.99), w(45.99));
            }
        }         
    }
    // Standard padding  
    .libra-s-p {
        margin: w(40) 0;  
    } 
    // In end of block
    .libra-end {
        bottom: w(-22); left: 0; 
    }
    // In the top of block
    .libra-start {
        top: w(-22); left: 0;        
    }
    // Libra padding top large
    .libra-p-t-l {
        padding-top: w(16.26);
    }
    // Libra padding bottom large
    .libra-p-b-l {
        padding-bottom: w(16.26);
    }
}

@media (--mobile-m) {
    .libra {
        &__lines span {                        
            height: 1px;     
            position: relative;       
        }
        &__small {
            .libra__lines {
                @include size(10%,100%);
                opacity: 0.5;                
                span {
                    &:first-child, &:nth-child(2) {
                        bottom: wm(1)
                    }            
                    &:nth-child(3), &:nth-child(4) {
                        top: wm(1);
                    }                      
                }                            
            }
            svg {
                @include size(wm(15.65), wm(15.65));
            }             
        }
        &__large {
            .libra__lines {
                @include size(30%, 100%);
                opacity: 1;
            }
            svg {
                @include size(wm(32.52), wm(32.52));
            }            
        }
    }     
    // Standard padding  
    .libra-s-p {
        margin: wm(30) 0;               
    } 
    // In end of block
    .libra-end {
        bottom: wm(-22);        
    }
    // In the top of block
    .libra-start {
        top: wm(-16);        
    }
    // Libra padding top large
    .libra-p-t-l {
        padding-top: wm(16.26);
    }
    // Libra padding bottom large
    .libra-p-b-l {
        padding-bottom: wm(16.26);
    }
}