.header {
    color: #fff;  
    transition: height 0.3s ;  
    overflow-y: hidden;
    &__wrap {
        z-index: 1;          
        position: relative;      
        h1 {
            text-transform: uppercase; 
            font-family: OpenSans-800;           
        }
        h2, button {
            font-family: Roboto-400;
        }
        button {
            transition: 0.3s;
            display: block;
            margin: auto;
            color: #fff;
            cursor: pointer;
        }
    }
}

.header-anim {
    @media (--desktop-m) {
        height: w(630) !important;  
        button {
            margin-bottom: 0 !important;
            opacity: 0; 
            visibility: hidden;
            margin-top: w(60) !important;
        }      
    }
    @media (--mobile-m) {      
        position: relative;
        background: rgba(1, 33, 63, 0.8) !important;
        &::before {             
            @include size(100%,100%);   
            background: url('~@/assets/images/mobile/header-anim-bg.jpg') no-repeat !important;
            background-size: cover !important;
            background-position: 0 0;                          
        }                 
        .header__wrap {
            height: wm(300);                 
            position: relative;                        
            display: flex; flex-direction: column; align-items: center;            
            padding-top: wm(90) !important;
        }        
        h1 {
            order: 1;                       
            padding-top: 0 !important;
        }        
        h2 {
            order: 2;
            padding-bottom: wm(100) !important;
        }
        button {
            order: 4;
        }
        .header__logo {
            order: 3;
        }
    }
}

@media (--desktop-m) {
    .header {
        background: url('~@/assets/images/header-bg.jpg') no-repeat;
        @include coverCenter; 
        height: w(869);      
        .desk, .mob {
            height: 100%;
        }            
        &__wrap {                        
            width: w(869);   
            height: inherit;          
            background: rgba(1, 33, 63, 0.8);
            @include flex(center, flex-end);
            article {                
                padding: w(313) w(38) 0 w(190);                
            }
            h1 {
                font-size: w(115.887);
            }
            h2 {
                text-align: center;
                font-size: w(30.88);      
                padding: w(54) 0 0;          
            }
            button {
                display: block;
                margin: w(111) auto;
                font-size: w(24);
                background: linear-gradient(243.47deg, rgba(255, 255, 255, 0) -8.21%, rgba(255, 255, 255, 0.22) 47.57%, rgba(255, 255, 255, 0) 119.13%), radial-gradient(25.50px at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(103, 219, 255, 0.2) 100%);
                border: 1px solid rgba(255, 255, 255, 0.33);                
                border-radius: 46px;     
                color: #fff;           
                padding: w(11) w(49);                                                
            }
        }
    }


}

@media (--mobile-m) {
    .header {
        background: linear-gradient(180deg, rgba(1, 33, 63, 0) 33.87%, rgba(1, 33, 63, 0.8) 88.88%);
        &::before {
            content: '';
            position: absolute; top: 0; left: 0;
            @include size(100%,100%);
            z-index: -1;
            background: url('~@/assets/images/mobile/header-bg.jpg') no-repeat;                    
        }
        &__wrap {
            padding: wm(130.9) 0 0;
            text-align: center;
            transition: height 0.3s ;  
        }
        &__logo {
            svg {
                @include size(wm(142.33), wm(173.15));
            }
        }
        h1 {
            font-size: wm(64.0024);
            padding: wm(111.77) 0 wm(8);
        }
        h2 {
            font-size: wm(17);
        }
        button {
            background: linear-gradient(249.42deg, rgba(255, 255, 255, 0) -8.21%, rgba(255, 255, 255, 0.22) 47.57%, rgba(255, 255, 255, 0) 119.13%), radial-gradient(18.20px at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(103, 219, 255, 0.2) 100%);
            border: 0.71371px solid rgba(255, 255, 255, 0.33);            
            border-radius: 32.8306px;
            font-size: wm(17.129);
            padding: wm(7.82) wm(22.84);
            margin: wm(42) auto wm(30.6);
        }
        &__menu {   
            background: #fff;     
            position: fixed; top: 0; left: 0;
            @include size(100%, 100%);
            z-index: 110;    
            transition: 0.3s;            
        }        
        &__menu-close {
            position: absolute; top: 0; left: 0;
            padding: wm(17) 0 0 wm(17); 
            svg {
                @include size(wm(20), wm(20))
            }
        }
        &__menu-logo {
            background: url('~@/assets/images/mobile/header-menu-header.jpg');
            @include coverCenter;
            @include flex(center,center);
            @include size(wm(200), 100%);
            svg {
                display: block;                
                @include size(wm(111), wm(135.03));
            }
        }
        &__menu-list {
            text-align: center;
            a {
                color: $maincol;
                font-size: wm(18);
                display: block;                
                &:hover {
                    color: #3CA6CD;
                }                
            }
            li {          
                position: relative;      
                margin-top: wm(40);                
            }
        }
        &__menu-social {
            font-size: wm(60);            
            @include flex(center,center);
            padding: wm(40) 0;            
            font-size: wm(30);
            a {
                color: $maincol;
            }            
            a:not(:last-child) svg {
                margin-right: wm(15);
            }
        }
        &__menu-license {
            text-align: center;
            color: #AFAFAF;
            opacity: 0.3;
            font-size: wm(12);
        }
    }
}