.clients {
    color: $maincol;
    &__slider {
        position: relative;
    }
    h2 {
        user-select: none;
    }
    &__wrap {
        position: relative;
    }
    &__testimonals {
        text-align: center;
        color: $maincol;
    }
    .hooper-indicator.is-active, .hooper-indicator:hover {
        background: $maincol;
    }
    .hooper-indicator {
        border-radius: 100%;
        outline: none;
        background: gray;                    
    }        
    .hooper-pagination {
        user-select: none;        
    }
    .hooper-navigation {
        button {
            outline: none !important;
        }
    }
    &__slider-block img {  
        display: block; margin: auto;                 
        transition: 0.3s ;                  
        max-width: 100%;
        max-height: 100%;   
    }
}

@media (--desktop-m) {
    .clients {
        &__slider {
            padding: w(89) 0;
            .hooper-pagination {
                top: w(110);            
            }
        }
        &__slider-block {            
            img {                
                                                           
            }            
        }
        &__testimonals {
            padding: w(60) 0 w(10);
            font-size: w(40);                        
            .clients__slider-block {    
                padding: w(70) 0;      
                img {                    
                    border: 1px solid #D6D6D6;
                    &:hover {
                        transform: scale(1.1);
                        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);        
                    }                           
                }            
            }
            .hooper-navigation {
                svg {
                    @include size(w(100), w(100));                    
                }
            }            
        }        
        .hooper-indicator {                     
            @include size(w(15), w(15));
            margin: 0 w(10);
        }
    }    
}

@media (--mobile-m) {
    .clients {
        .hooper-indicator {                     
            @include size(wm(10), wm(10));
            margin: 0 wm(5);
        }  
        &__slider {
            padding:wm(20) 0 wm(38);
            .hooper-pagination {
                bottom: wm(-30);
            }            
        }
        h2 {
            padding-bottom: wm(20);
        }
        &__testimonals {
            font-size: wm(18);
            padding: wm(20) 0;
           .hooper-navigation {               
                svg {
                    @include size(wm(50), wm(50));                                        
                }
            }                   
        }      
    }    
}