.contacts {
    color: $maincol;
    a {
        color: $maincol;
    }    
    &__main {
        position: relative;
    }
}

@media (--desktop-m) {
    .contacts {            
        &__logo {
            @include size(w(210.13), w(255.62));
        }
        &__main {
            @include flex(center,center);            
            padding: w(83.87) 0;                        
        }
        &__line {
            display: block;
            @include size(w(280), 1px);
            background:#3CA6CD;
            margin: 0 w(70.77);
        }     
        &__list {                        
            article {
                @include flex(flex-start, center);
                svg {
                    display: block; margin-right: w(41.38);
                }
                &:not(:last-child) {
                    padding-bottom: w(15);
                }
                &:first-child svg {
                    @include size(w(29.62), w(29.62));
                }
                &:nth-child(2) svg {
                    @include size(w(28.05), w(29.62));
                }
                &:nth-child(3) svg {
                    @include size(w(30.64), w(29.62));
                }
                &:nth-child(4) svg {
                    @include size(w(29.49), w(29.62));
                }
                &:last-child svg {
                    @include size(w(28.6), w(29.62));
                }
            }
        }
    }
}

@media (--mobile-m) {
    .contacts {            
        &__logo {
            @include size(wm(210.13), wm(255.62));
            display: block; margin:0 auto wm(42.87);
        }
        &__main {                   
            padding: wm(43) wm(31);
            font-size: wm(18);            
        }    
        .pseudo-lines {                
            top: wm(-100);                       
        }            
        &__list {                        
            article {  
                @include flex(flex-start,center);              
                svg {
                    display: block; margin-right: wm(32.55);
                }
                a {
                    display: block;
                }
                &:not(:last-child) {
                    padding-bottom: wm(12.61);
                }
                &:first-child svg {
                    @include size(wm(23.3), wm(23.3));
                }
                &:nth-child(2) svg {
                    @include size(wm(22.07), wm(23.3));
                }
                &:nth-child(3) svg {
                    @include size(wm(24.1), wm(23.3));
                }
                &:nth-child(4) svg {
                    @include size(wm(23.2), wm(23.3));
                }
                &:last-child svg {
                    @include size(wm(22.5), wm(23.3));
                }
            }
        }
    }    
}