.about-principles {
    color: $maincol;
    background: #EAF4F6;
    &__wrap {
        text-align: center;
    }
    h2 {
        text-transform: uppercase;
    }
}

@media (--desktop-m) {
    .about-principles {
        &__wrap {
            padding: w(100) 0;
        }
        h2 {
            font-size: w(36);
            padding: 0 w(299);
        }
        article {
            padding: 0 w(387);
            &:not(:last-of-type) {
                margin-bottom: w(51);
            }
        }
        h3 {
            padding-bottom: w(5);
        }
        h3,p {
            font-size: w(18);
        }        
    }
}

@media (--mobile-m) {
    .about-principles {
        &__wrap {
            padding: wm(50) 0;
        }
        h2 {
            font-size: wm(24);
            padding: 0 wm(41);            
        }
        article {            
            &:not(:last-of-type) {
                margin-bottom: wm(50);
            }
        }        
        h3 {
            font-size: wm(18);
            padding:0 wm(40) wm(10);
        }
        p {
            padding: 0 wm(10);
            font-size: wm(14);
        }
    }
}