.about-descr {
    text-align: center;
    &__title {
        background: $maincol;
        color: #fff;
        position: relative;        
    }
    &__main {
        color: $maincol;        
    }
    &__image {
        background: $maincol;
        position: relative;
    }
}

@media (--desktop-m) {
    .about-descr {        
        &__title {
            padding: w(134) w(319);
            font-size: w(48);
        }
        &__main {
            padding: w(45) w(220.75);
            display: flex; flex-wrap: wrap;      
            article {
                width: 47%;                
                padding-top: w(80);
            }      
            h2 {
                font-size: w(40);
            }
            h3 {
                font-size: w(36);
            }
            p {
                font-size: w(24);
            }
        }
        &__image {
            padding: w(120) 0 0;            
        }
        &__parallax {
            background-image: url('~@/assets/images/about-descr-bg.jpg');    
            @include coverCenter;        
            @include size(w(622), 100%);            
            background-attachment: fixed;            
        }
    }
}

@media (--mobile-m) {
    .about-descr {
        &__title {
            padding: wm(40) wm(11);
            font-size: wm(18);
        }
        &__main {
            padding: wm(53) wm(19);            
            article {                                
                padding-top: wm(30);
                &:nth-child(2) {
                    padding-top: wm(47);
                }
            }      
            h2 {
                font-size: wm(24);
            }
            h3 {
                font-size: wm(18);
                padding-bottom: wm(11);
            }
            p {
                font-size: wm(14);
            }
        }
        &__image {
            padding: wm(82) 0 0;            
        }
        &__parallax {
            background-image: url('~@/assets/images/about-descr-bg.jpg');    
            @include coverCenter;        
            @include size(wm(198), 100%);            
            background-attachment: fixed;            
        }            
    }
}