.about-advantages {
    color: #fff;
    &__arrow {
        text-transform: uppercase;
        background: $maincolRgba;
        span {display: block;}
    }
    svg {
        display: block;
    }
}

@media (--desktop-m) {
    .about-advantages {
        background: url('~@/assets/images/about-advantages-bg.jpg');
        @include coverCenter;
        &__wrap {
            display: flex;
        }        
        &__arrow {            
            box-shadow: 13px 4px 23px rgba(0, 0, 0, 0.3);
            width: w(759);
            font-size: w(63.8066);            
            @include flex(center,flex-start, column);
            span {
                font-size: w(179.456);                
            }
            img {
                margin-top: w(34.51);
                @include size(w(263), w(602.73));
            }
        }
        &__list {
            flex: 1;
            padding: w(91) 0;
            font-size: w(18);            
            article {
                @include flex(flex-start, center);                
                &:not(:last-of-type) {
                    margin-bottom: w(50);
                }
                svg {
                    margin: 0 w(70);
                }
                .article {
                    width: w(711);
                }
                &:nth-of-type(1) svg {
                    @include size(w(66), w(66));
                }
                &:nth-of-type(2) svg {
                    @include size(w(65.98), w(66));
                }
                &:nth-of-type(3) svg {
                    @include size(w(77.02), w(66));
                }
                &:nth-of-type(4) svg {
                    @include size(w(82.6), w(66));
                }
                &:nth-of-type(5) svg {
                    @include size(w(50.66), w(66));
                }                
            }            

         }
    }
}

@media (--mobile-m) {
    .about-advantages {
        
    }
}