.ghost {    
    animation: ghost 2.5s ease-in-out infinite both;    
    @keyframes ghost {
        0% {
          transform: translateY(20px);
        }       
        50% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(20px);
        }
    }
}

.fromRight {
    transform: translateX(100%);
    animation: fromRight 1s forwards;
    @keyframes fromRight {
        0% { transform: translateX(100%) }
        100% { transform: translateX(0) }
    }
}