@custom-media --desktop-m (min-width: 960px);
@custom-media --mobile-m (max-width: 960px);

.d-none {
    display: none !important;
}

.pos-a-0 {
    position: absolute;
    top: 0; left: 0;
}

.pos-r {
    position: relative;
}

.w-100 {
    width: 100%;
}

.lh-n {
    line-height: normal;
}

.pos-f-0 {
    position: fixed;
    top: 0; left: 0;
}

.pos-a-l {
    position: absolute; top: 0; bottom: 0; margin: auto; left: 0;
    align-items: flex-start;    
}

.pos-a-r {
    position: absolute; top: 0; bottom: 0; margin: auto; right: 0;    
    align-items: flex-end !important;
}

.mar-bot-0 {
    margin-bottom: 0 !important;
}

.mar-top-0 {
    margin-top: 0 !important;
}

.op-300 {
    font-family: OpenSans-300;
}

.op-400 {
    font-family: OpenSans-400;
}

.op-600 {
    font-family: OpenSans-600;
}

.op-700 {
    font-family: OpenSans-700;
}

.op-800 {
    font-family: OpenSans-800;
}

.rob-400 {
    font-family: Roboto-400;
}

.blue-bg {
    background: $maincol;
    
    position: relative;        
    &::before {
        content: '';
        position: absolute; top: 0; left: 0;
        @include size(100%,100%);        
        pointer-events: none;
        background: url('~@/assets/images/blue-bg.png');                
    }
}

.h2-regular {
    background: $maincol;
    color: #fff;
    text-align: center;
    @media (--desktop-m) {
        padding: w(24) 0;
        font-size: w(40);
    }
    @media (--mobile-m) {
        padding: wm(12) 0;
        font-size: wm(18);        
    }
}

.pseudo-lines {
    pointer-events:none;
    span {
        display: block;
        &:first-child, &:last-child {
            background: $maincol;
        }
        &:nth-child(2) {
            background: #3CA6CD;
        }            
    }
    @media (--desktop-m) {
        @include flex(center,flex-start, column);
        span {
            &:first-child, &:last-child {
                @include size(5px, w(224));
            }
            &:nth-child(2) {
                @include size(5px, w(368));
                margin: w(27) 0;
            }                   
        }            
    }
    @media (--mobile-m) {
        @include flex(center,flex-start, column);        
        span {
            &:first-child, &:last-child {
                @include size(2px, wm(48));
            }
            &:nth-child(2) {
                @include size(2px, wm(72));
                margin: wm(19) 0;
            }                   
        }                  
    }
}

.header__menu-hidden {
    transform: translateY(-100%);
}

.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events:none;
    z-index: -1;
}

