@custom-media --desktop-m (min-width: 960px);
@custom-media --mobile-m (max-width: 960px);

.d-none {
    display: none !important;
}

.pos-a-0 {
    position: absolute;
    top: 0; left: 0;
}

.pos-r {
    position: relative;
}

.w-100 {
    width: 100%;
}

.lh-n {
    line-height: normal;
}

.pos-f-0 {
    position: fixed;
    top: 0; left: 0;
}

.mar-bot-0 {
    margin-bottom: 0 !important;
}

.op-300 {
    font-family: OpenSans-300;
}

.op-400 {
    font-family: OpenSans-400;
}

.op-600 {
    font-family: OpenSans-600;
}

.op-700 {
    font-family: OpenSans-700;
}

.op-800 {
    font-family: OpenSans-800;
}

.rob-400 {
    font-family: Roboto-400;
}

.blue-bg {
    background: $maincol;
    @include coverCenter;
    position: relative;        
    &::before {
        content: '';
        position: absolute; top: 0; left: 0;
        @include size(100%,100%);        
        pointer-events: none;
        background: url('~@/assets/images/blue-bg.png');        
    }
}
