 @font-face {
  font-family: OpenSans-400; 
  font-display: swap;
  src: url("assets/fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');         
 }

  @font-face {
  font-family: Roboto-400; 
  font-display: swap;
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format('truetype');         
 }


@font-face {
  font-family: OpenSans-300; 
  font-display: swap;
  src: url("assets/fonts/Open_Sans/OpenSans-Light.ttf") format('truetype');         
 }

@font-face {
  font-family: OpenSans-600; 
  font-display: swap;
  src: url("assets/fonts/Open_Sans/OpenSans-SemiBold.ttf") format('truetype');         
 }


 @font-face {
  font-family: OpenSans-700; 
  font-display: swap;
  src: url("assets/fonts/Open_Sans/OpenSans-Bold.ttf") format('truetype');         
 }


 @font-face {
  font-family: OpenSans-800; 
  font-display: swap;
  src: url("assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf") format('truetype');         
 }

