html {
    font-family: sans-serif;        
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@media (--desktop-m) {
    .mob {
        display: none !important;             
    }
    html {
        font-size: 1vw;
    }
} 

@media (--mobile-m) {
    .desk {
        display: none !important;
    }
    html {
        font-size: 1vw;
    }
} 

.footer, .header, .home-minus, .home-solution, .home-problems, 
.home-commercial, .about-descr {
    position: relative;
}