html {
    font-family: sans-serif;        
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@media (--desktop-m) {
    .mob {
        display: none !important;             
    }
    html {
        font-size: 1vw;
    }
} 

@media (--mobile-m) {
    .desk {
        display: none !important;
    }
    html {
        font-size: 1vw;
    }
} 

.footer, .header, .home-minus, .home-solution, .home-problems, 
.home-commercial, .about-descr {
    position: relative;
}

// *** hover input
::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity .5s; transition: opacity .5s; }  /* Chrome <=56, Safari < 10 */
:-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 4-18 */
::-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 19-51 */
:-ms-input-placeholder { opacity: 1; -ms-transition: opacity .5s; transition: opacity .5s; } /* IE 10+ */
::placeholder { opacity: 1; transition: opacity .5s; } /* Modern Browsers */

*:focus::-webkit-input-placeholder { opacity: 0; } /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder { opacity: 0; } /* FF 4-18 */
*:focus::-moz-placeholder { opacity: 0; } /* FF 19-50 */
*:focus:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
*:focus::placeholder { opacity: 0; } /* Modern Browsers */
// *** /hover input

.hidden-nav-enter-active, .hidden-nav-leave-active {
  transition: opacity .5s;
}
.hidden-nav-enter, .hidden-nav-leave-to {
  opacity: 0;
}

 .wow { visibility: hidden; }